@define-color cc-bg rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.7);
@define-color noti-border-color rgba({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}, 0.15);
@define-color noti-bg rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.8);
@define-color noti-bg-opaque #{{base00-hex}};
@define-color noti-bg-darker #{{base01-hex}};
@define-color noti-bg-hover #{{base01-hex}};
@define-color noti-bg-hover-opaque #{{base01-hex}};
@define-color noti-bg-focus rgba({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}, 0.6);
@define-color noti-close-bg rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.1);
@define-color noti-close-bg-hover rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.15);

@define-color text-color #{{base05-hex}};
@define-color text-color-disabled #{{base04-hex}};

@define-color bg-selected #{{base02-hex}};

$border: 1px solid #{"@noti-border-color"};
$border-radius: 12px;

$font-size-body: 15px;
$font-size-summary: 16px;

$hover-tranistion: background 0.15s ease-in-out;
$group-collapse-tranistion: opacity 400ms ease-in-out;

$notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
  0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);

.notification-row {
  outline: none;

  &:focus,
  &:hover {
    background: #{"@noti-bg-focus"};
  }
  .notification-background {
    padding: 6px 12px;

    .close-button {
      /* The notification Close Button */
      background: #{"@noti-close-bg"};
      color: #{"@text-color"};
      text-shadow: none;
      padding: 0;
      border-radius: 100%;
      $margin: 5px;
      margin-top: $margin;
      margin-right: $margin;
      box-shadow: none;
      border: none;
      min-width: 24px;
      min-height: 24px;

      &:hover {
        box-shadow: none;
        background: #{"@noti-close-bg-hover"};
        transition: $hover-tranistion;
        border: none;
      }
    }

    .notification {
      /* The actual notification */
      border-radius: $border-radius;
      border: $border;
      padding: 0;
      transition: $hover-tranistion;
      background: #{"@noti-bg"};

      &.low {
        background: #{{base02-hex}};
        color: #{{base05-hex}};
      }
      &.normal {
        /* Normal Priority Notification */
      }
      &.critical {
        background: #{{base0F-hex}};
        color: #{{base08-hex}};
      }

      %action {
        padding: 4px;
        margin: 0;
        box-shadow: none;
        background: transparent;
        border: none;
        color: #{"@text-color"};
        transition: $hover-tranistion;
      }
      %action-hover {
        -gtk-icon-effect: none;
        background: #{"@noti-bg-hover"};
      }

      .notification-default-action {
        /* The large action that also displays the notification summary and body */
        @extend %action;
        border-radius: $border-radius;

        &:hover {
          @extend %action-hover;
        }

        &:not(:only-child) {
          /* When alternative actions are visible */
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .notification-content {
          background: transparent;
          border-radius: $border-radius;
          $margin: 4px;
          padding: $margin;

          .image {
            /* Notification Primary Image */
            -gtk-icon-effect: none;
            border-radius: 100px; /* Size in px */
            margin: $margin;
          }
          .app-icon {
            /* Notification app icon (only visible when the primary image is set) */
            -gtk-icon-effect: none;
            -gtk-icon-shadow: 0 1px 4px black;
            margin: 6px;
          }

          .text-box {
            .summary {
              /* Notification summary/title */
              font-size: $font-size-summary;
              font-weight: bold;
              background: transparent;
              color: #{"@text-color"};
              text-shadow: none;
            }
            .time {
              /* Notification time-ago */
              font-size: $font-size-summary;
              font-weight: bold;
              background: transparent;
              color: #{"@text-color"};
              text-shadow: none;
              margin-right: 30px;
            }
            .body {
              /* Notification body */
              font-size: $font-size-body;
              font-weight: normal;
              background: transparent;
              color: #{"@text-color"};
              text-shadow: none;
            }
          }

          progressbar {
            /* The optional notification progress bar */
            margin-top: $margin;
          }

          .body-image {
            /* The "extra" optional bottom notification image */
            margin-top: $margin;
            background-color: white;
            border-radius: $border-radius;
            -gtk-icon-effect: none;
          }

          .inline-reply {
            /* The inline reply section */
            margin-top: $margin;

            .inline-reply-entry {
              background: #{"@noti-bg-darker"};
              color: #{"@text-color"};
              caret-color: #{"@text-color"};
              border: $border;
              border-radius: $border-radius;
            }
            .inline-reply-button {
              margin-left: 4px;
              background: #{"@noti-bg"};
              border: $border;
              border-radius: $border-radius;
              color: #{"@text-color"};

              &:disabled {
                background: initial;
                color: #{"@text-color-disabled"};
                border: $border;
                border-color: transparent;
              }
              &:hover {
                background: #{"@noti-bg-hover"};
              }
            }
          }
        }
      }

      .notification-action {
        /* The alternative actions below the default action */
        @extend %action;
        border-top: $border;
        border-radius: 0px;
        border-right: $border;

        &:first-child {
          /* add bottom border radius to eliminate clipping */
          border-bottom-left-radius: $border-radius;
        }
        &:last-child {
          border-bottom-right-radius: $border-radius;
          border-right: none;
        }

        &:hover {
          @extend %action-hover;
        }
      }
    }
  }
}

.notification-group {
  /* Styling only for Grouped Notifications */

  &.low {
    /* Low Priority Group */
  }
  &.normal {
    /* Low Priority Group */
  }
  &.critical {
    /* Low Priority Group */
  }

  %header {
    margin: 0 16px;
    color: #{"@text-color"};
  }

  .notification-group-headers {
    /* Notification Group Headers */
    @extend %header;

    .notification-group-icon {
      color: #{"@text-color"};
    }
    .notification-group-header {
      color: #{"@text-color"};
    }
  }
  .notification-group-buttons {
    /* Notification Group Buttons */
    @extend %header;
  }

  &.collapsed {
    .notification-row {
      .notification {
        background-color: #{"@noti-bg-opaque"};
      }

      &:not(:last-child) {
        /* Top notification in stack */
        /* Set lower stacked notifications opacity to 0 */
        .notification-action,
        .notification-default-action {
          opacity: 0;
        }
      }
    }

    &:hover {
      .notification-row:not(:only-child) {
        .notification {
          background-color: #{"@noti-bg-hover-opaque"};
        }
      }
    }
  }
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: #{"@cc-bg"};
  color: #{"@text-color"};
  border-radius: $border-radius;

  .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.5;
  }

  .control-center-list {
    /* List of notifications */
    background: transparent;

    .notification {
      box-shadow: $notification-shadow;

      .notification-default-action,
      .notification-action {
        transition: $group-collapse-tranistion, $hover-tranistion;

        &:hover {
          background-color: #{"@noti-bg-hover"};
        }
      }
    }
  }
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;

  .notification {
      box-shadow: none;
  }
}

.widget-title {
  color: #{"@text-color"};
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: #{"@text-color"};
  text-shadow: none;
  background: #{"@noti-bg"};
  border: 1px solid #{"@noti-border-color"};
  box-shadow: none;
  border-radius: 12px;
}
.widget-title > button:hover {
  background: #{"@noti-bg-hover"};
}

@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);

$mpris-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);

.widget-mpris {
  /* The parent to all players */
  .widget-mpris-player {
    padding: 8px;
    padding: 16px;
    margin: 16px 20px;
    background-color: #{"@mpris-album-art-overlay"};
    border-radius: $border-radius;
    box-shadow: $mpris-shadow;

    button:hover {
      /* The media player buttons (play, pause, next, etc...) */
      background: #{"@noti-bg-hover"};
    }

    .widget-mpris-album-art {
      border-radius: $border-radius;
      box-shadow: $mpris-shadow;
    }
    .widget-mpris-title {
      font-weight: bold;
      font-size: 1.25rem;
    }
    .widget-mpris-subtitle {
      font-size: 1.1rem;
    }

    & > box > button {
      /* Change player control buttons */
      &:hover {
        background-color: #{"@mpris-button-hover"};
      }
    }
  }

  & > box > button {
    /* Change player side buttons */
  }
  & > box > button:disabled {
    /* Change player side buttons insensitive */
  }
}
